<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>
    Lawyer with the following details has submit an application <br/>
    Full Name : <%= @lawyer.full_name %>
    Email : <%= @lawyer.email %>
  </p>
  <br/>
  Thanks,<br/>
  Lawdingo Team
</body>
</html>

