<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>
    Client with the following details has signed up <br/>
    Full Name : <%= @client.full_name %>
    Email : <%= @client.email %>
  </p>
  <br/>
  Thanks,<br/>
  Lawdingo Team
</body>
</html>

