<div style="font-size:1.5em;">
Creating New Practice Area <span style="float: right;"> <%= link_to "List of Practice Areas", admin_practice_areas_path %> </span> <hr/>

<%= render :partial =>"form" %>
</div>

