
<div class="leftbar"></div>
<div class="midbar">
  <div class="listHeader">
    No Page Exists!<hr/>
    Visit <%= link_to "Home Page", root_path, :title =>'Home Page', :style=>'color:blue;font-size:16px;' %>
  </div>
</div>
<div class="rightbar"></div>
