- title @title
#page.about
  %div
    .nav
      %span Also see:
      = link_to "Lawyer FAQs", about_attorneys_path, :class => 'custom_arrow'
    .content_outer
      .content
        %h1 About Lawdingo
        %h3 If you need a lawyer, you need Lawdingo!
        %p Lawdingo is the premier marketplace for securing the time and attention of legal professionals when you need it from wherever you are.  Lawdingo is the only service that allows you to connect virtually and pay your legal fees by the minute online. Lawdingo allows people to connect via video conference, telephone or text for legal consultations. Our lawyers offer free consultations of up to 60 minutes and it is free to browse.
        %p Our mission is to bring the cost of legal services down, and to allow lawyers to break down geographical boundaries to serve more clients.
        %p 
          Based in San Francisco, Lawdingo has legal representation from DLA Piper and was founded by 
          %a{:href => 'http://www.linkedin.com/in/nikhilnirmel'}Nikhil Nirmel,
          formerly the business intelligence lead at Yelp.com. We can be contacted at 
          %a{:href => 'mailto:info@lawdingo.com'}info@lawdingo.com 
          or 415-234-DINGO (3464).
        %h3 Get started today!
        %p.custom_arrow
          %a{:href => 'http://www.lawdingo.com/users/new?ut=0'} Get legal advice
        %p.custom_arrow
          %a{:href => 'http://www.lawdingo.com/apply'} Become a Lawdingo Attorney
    .clear