#page
  %div
    .process-wrapper.activation
      .process-header
        .process-bar
        .first-step.steps
          1
        .second-step.steps.active
          2
        .third-step.steps
          3
        .clear
        %p.first-notice.notices Create Account
        %p.second-notice.notices Activate Subcription
        %p.third-notice.notices Complete Profile
      .card-activation
        %h3 Activate your Lawdingo profile  $92/month
        .card-info                                                               
        
      
