#page
  %div
    .process-wrapper
      .process-header
        .process-bar
        .first-step.steps
          1
        .second-step.steps.active
          2
        .third-step.steps
          3
        .clear
        %p.first-notice.notices Create Account
        %p.second-notice.notices Activate Subcription
        %p.third-notice.notices Complete Profile
      .accounts-list
        .account-type-wrapper
          .left-border
          .account-type
            .header
              %h3 Unlisted profile
              %h2 Free
              .right-border
            .account-info
              %ul
                %li Get an unlsted profile that you can use to cover existing or potential clients
              %ul
                %li Get notified of inquiries that listed Lawdingo lawyers have rejected
            %a.select-account-type{:href => '#'} Create Free Profile
        .account-type-wrapper
          .left-border
          .account-type
            .header
              %h3 Basic Listing
              %h2 $195/month
              .right-border
            .account-info
              %ul
                %li 
                  %strong Money back guarantee!
              %ul
                %li Get a full profile listed on Lawdingo.com
              %ul
                %li Receive unlimited inbound messages, phone calls, video calls and appointments
              %ul
                %li Talk live to clients, with option to bill for consultation
            %a.select-account-type{:href => '#'} Choose Basic plan
        .account-type-wrapper
          .left-border
          .account-type
            .header
              %h3 Premium
              %h2 Contact us
              .right-border
            .account-info
              %ul
                %li Have capacity to take on a lot of clients? Contact us for custom solutions
              %ul
                %li
                  %strong Pakcages@lawdingo.com
              %ul
                %li
                  %strong 415-234-3464
            %a.select-account-type{:href => '#'} Contact Lawdingo
        
      
  