<!--div style="font-size: 17px;padding: 2px;margin-top: 10px;">
  <strong> <%= @page.page_header %> </strong>
</div>
<hr/-->
<%= @page.content.html_safe %>
<br/>
<!--hr/>
<%= link_to 'Home',  root_path, :title =>"Return to home page", :style=>'font-size:15px;color:blue;'  %>
<-->
