<div id="page" class="about">
<div class="cotent">
<h1>Lawdingo Terms of Use</h1>
<h3>I. Introduction</h3>
Lawdingo starts every new User relationship with a contract. The contract spells out what you can expect from us, and what we expect from you. We do not know each User personally, so it is important to set out the ground rules clearly in advance.
<br/><br/>
If you agree to this contract, welcome to our system!
<br/><br/>
If you have any questions about any part of the contract, please contact us about it! We will be glad to explain why these contract provisions are important for our system. We would like to work with you on making changes if you can show us a better approach.
<br/><br/>
Please remember that until there is an agreement in place, you will not receive full access to our system.
<br/><br/>
In this agreement, we have referred to the Lawdingo service as the "Service", to you as the "User" and to this contract as the "Agreement". Users seeking legal counsel are referred to as "Client" and attorneys providing legal counsel are referred to as "Attorney" or "Lawyer"
<br/><br/>

<h3>II. Relationship Between Lawdingo And User: Providing Only a Venue</h3>

Lawdingo is an Internet forum and marketplace that facilitates communication between legal professionals and potential users of legal services, and also facilitates payments for services delivered should a paid relationship be of interest to both parties. Lawdingo itself does not provide legal advice.
<br/><br/>
Lawdingo does not guarantee that Users will successfully find legal representation through this system. Lawdingo takes no position and offers no opinion on when or if an attorney-client relationship has been formed.
<br/><br/>
In order to provide an optimal forum for clients and legal professionals, Lawdingo does not involve itself in the agreements between members and clients or the actual representation of clients. Therefore, we cannot ensure the completion of the agreement or the integrity of either party. The User, and not Lawdingo, is solely responsible for assessing the integrity, honesty, and trustworthiness of all persons with whom the User communicates on the Service.
<br/><br/>
<h2>Disclaimer of attorney-client relationship</h2>
Any form of use of the Service by a subscribing member or potential client is not intended to and will not create an attorney-client relationship between any person or entity and Lawdingo. Any electronic communication sent to Lawdingo will not create an attorney-client relationship between the User and Lawdingo, such being expressly denied.
<br/><br/>
<h2>Lawdingo does not screen or vouch for any of its Users</h2>
Providing a service where potential clients and legal professionals can meet does not imply an endorsement of any subscribing attorney or service provider. Lawdingo makes no representation concerning an attorney's qualifications (except that the attorney was licensed to practice law in at least one state at the time of registration), nor does it sanction statements an attorney may post on the system. Lawdingo makes no representation concerning the qualifications of non-attorney legal service providers. Your case will not be viewed by non-attorney legal providers without your consent. Lawdingo does not screen potential cases, or otherwise channel potential clients to selected attorneys.
<br/><br/>
<h2>Lawdingo Does not provide legal advice</h2>
Lawdingo is not a law firm nor does it offer legal advice, recommendations, mediation, or counseling under any circumstance. Lawdingo is not a party, principal or participant in any provision, rendering, receipt or solicitation of any legal advice, opinion, counsel, information, or guidance. Lawdingo encourages the User not to accept any information received from any source found on this service, unless it is through direct communication with an attorney the User speaks to via Lawdingo.
<br/><br/>
<h2>Lawdingo is not a Referral Service</h2>
Lawdingo is not a lawyer referral service and does not provide such services. Company provides on its Website and any Service a listing or directory of individuals that comprise of Participating Attorney(s), which is provided solely for information purposes. Lawdingo provides tools to assist User to identify relevant Participating Attorney(s) who may assist with User's legal needs, but User acknowledges that Company does not recommend, endorse, or qualify any particular attorney to assist User with its legal needs.
<br/><br/>
<h2>Lawdingo does not split fees with attorneys.</h2>
Lawdingo does not take payments in the form of percentages of fees generated from attorneys. 
<!-- We charge a connection fee to users that is clearly delineated from the lawyer's fee. -->
<br/><br/>
<h2>Engagement letters and other contractual attorney-client relationships are not facilitated by Lawdingo.</h2>
Should attorneys and/or clients choose to formalize the scope or nature of their attorney-client relationship, it is the attorneys responsibility to email any such documents or contracts to the clients and ensure their signage. Lawdingo does not define what the scope or nature of the relationships between attorneys and clients are.
<br/><br/>
<h2>Disclaimer of representations by Users</h2>
Lawdingo makes no representation, guarantee, or warranty (express or implied) as to the legal ability, competence, or quality of representation which may be provided by any of the attorneys, law firms or legal service providers which may submit bids and/or are listed through this Web site or any affiliate thereof.
<br/><br/>
<h3>III. User Guidelines</h3>
In order to keep this system attractive and useful for all Users, it is important that Users follow the rules of the system. Some of these rules are described in this contract, and the rest in bulletins posted at various points in the system. Lawdingo reserves the right to deny further access to its service to any User who violates these rules, is the subject of complaints by other Lawdingo Users, for any other reason, or for no reason at all.
<br/><br/>
Users may not engage in any of the following activities on our system:
<br/><br/>
do or say anything to injure or harm others
<br/><br/>
appear nude in any form in video chat sessions
<br/><br/>
record video sessions without written consent from other party
<br/><br/>
display material containing nudity or pornographic material of any kind
<br/><br/>
use video chat sessions for other purposes than to seek or provide legal counsel
<br/><br/>
provide material that is grossly offensive to the online community, including blatant expressions of bigotry, prejudice, racism, hatred, or profanity
<br/><br/>
promote or provide instructional information about illegal activities, or promoting physical harm or injury against any group or individual
<br/><br/>
defame any person or group
<br/><br/>
display material that exploits children under 18 years of age
<br/><br/>
violate the rights of another, including but not limited to the intellectual property rights of another. This includes using the Service for acts of copyright, trademark, patent, trade secret, or other intellectual property infringement, including but not limited to offering pirated computer programs or links to such programs, information used to circumvent manufacturer-installed copy-protect devices, including serial or registration numbers for software programs, or any type of cracker utilities (this also includes files which are solely intended for game emulation)
<br/><br/>
violate Internet standards
<br/><br/>
use the Service for displaying harassing, abusive, threatening, harmful, vulgar, obscene, or tortuous material or invading other's privacy
<br/><br/>
interfere with or disrupting the Service or servers or networks connected to the Service by posting advertisements or links to competing services, transmitting "junk mail", "spam", "chain letters", or unsolicited mass distribution of e-mail
<br/><br/>
encourage any illegal activity, including anything to do with illegal drugs, gambling, pornography, prostitution, child pornography, robbery, spreading computer viruses, cracking into private computer systems, software infringement, trafficking in credit card codes, or other crimes
<br/><br/>
compromise the security of the Service LawDingo provides. Do not try to gain access to system areas private to LawDingo, or to other Users.
<br/><br/>
<h3>V. Disclaimer of Information Obtained on the Service</h3>
Lawdingo provides legal professionals and potential clients with a forum that functions as an open market. Lawdingo is not responsible for the content of materials posted on its Web sites. The opinions and views expressed are those of the individual Users of the Service and do not reflect those of Lawdingo. Data submitted by other Users (both attorneys and lay persons) is not verified or reviewed in any way before it appears on the Lawdingo Web site. Lawdingo does not warrant the validity or accuracy of any such information. Please use caution and common sense when using this site.
<br/><br/>
Lawdingo does not continuously review the standing of any attorney subscriber with any regulatory authority. When considering employing any attorney or law firm, Users should check the attorney's standing with the state bar.
<br/><br/>
Lawdingo verifies that attorneys who join the Service are licensed and in good standing in the state(s) in which they claim a bar membership within the United States at the time of registration. However, Lawdingo is unable to track, or monitor the standing of each attorney using the Service. Therefore, Lawdingo makes no representation regarding the status, standing or ability of any attorney or law firm that is listed through this Web site.
<br/><br/>
Users are urged to make their own independent investigation and evaluation of any firm being considered. The determination of the need for legal services and the choice of legal representation are extremely important decisions and should not be based solely on advertisements, claims of expertise, or on the cost of rendering the requested legal services.
<br/><br/>
Lawdingo is not responsible for, and in no way endorses, any description or indication of specialization or limitation of practice by an attorney or law firm. Please be aware that no agency or board may have certified such attorney as a specialist or expert in any indicated field of law practice. In addition, an attorney claiming specialization is not necessarily any more expert or competent than other attorneys. It is up to the User to question the attorneys and providers on the factual basis of any statement they make, to ask for the names of the certifying agencies, and verify all information.
<br/><br/>
Users are encouraged to use caution when reviewing any information submitted by attorneys and other parties. Although Lawdingo strongly encourages attorneys to comply with all regulations governing attorney conduct, it is impossible for Lawdingo to monitor members' integrity or compliance with applicable rules of conduct.
<br/><br/>
Lawdingo in no way endorses the content or legality of any responses, statements, or promises made by attorneys or any other parties, on or off this site.
<br/><br/>
<h3>VI. Confidentiality</h3>
Lawdingo makes every effort to maintain the confidentiality of any information submitted by Users to our System and our database of members. However, because awdingo cannot control the conduct of others, we cannot guarantee that this information will remain confidential. Please use caution in deciding what information to input into the System and to reveal in video chat sessions. Do not make any confessions or admissions. Do not use proper names or addresses. Do not provide any other highly personal, sensitive, or incriminating information. Lawdingo is not responsible for the release or improper use of such information by other Users or any release due to error or failure in the System.
<br/><br/>
User agrees that attorneys contacted by User through the System may report to Lawdingo on whether their services were engaged by the User and the total attorney's fees paid.
<br/><br/>
Chat sessions are not recorded by Lawdingo. Lawdingo is unable to control whether either party records the session, though recording is currently prohibited.
<br/><br/>
<h3>VII. Indemnification</h3>
The User agrees that Lawdingo is not responsible for any harm that this service may cause. The User agrees to indemnify, defend, and hold Lawdingo harmless from and against any and all liability and costs incurred in connection with any loss, liability, claim, demand, damage, and expenses arising from or in connection with the contents or use of the Service. The User agrees that this defense and indemnity shall also apply to any breach by the User of the Agreement or the foregoing representations, warranties and covenants. The User further agrees that this defense and indemnity shall include without limitation attorney fees and costs. The User also agrees that this defense and indemnity shall apply to Lawdingo, its affiliates, directors, officers and employees. Lawdingo reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by the User and the User shall not in any event settle any matter without the written consent of Lawdingo.
<br/><br/>
<h3>VIII. Communications and Other Data</h3>
Lawdingo is not responsible for any loss of data resulting from accidental or deliberate deletion, network or system outages, file corruption, or any other reasons.
<br/><br/>
<h3>IX. Other Lawdingo Rights</h3>
Lawdingo also reserves the following rights:
<br/><br/>
to release current or past User information in the event Lawdingo believes that accounts are in violation of the terms of service or page content guidelines, used to commit unlawful acts, if the information is subpoenaed, and/or if Lawdingo deems it necessary and/or appropriate.
<br/><br/>
to deny service to offenders of these guidelines or the Agreement
<br/><br/>
to terminate or deny service to anyone for any reason or no reason
<br/><br/>
<h3>X. Modifications to Terms of Service</h3>
Lawdingo may change the Agreement at any time. The User will be notified of the change and will be responsible for promptly reading and complying with the new terms and conditions. Continued use of the service will indicate acceptance of the new terms and conditions.
<br/><br/>
<h3>XI. Modifications to Service</h3>
Lawdingo reserves the right to modify or discontinue, temporarily or permanently, the Service with or without notice to the User. The User agrees that Lawdingo shall not be liable to the User or any third party for any modification or discontinuance of the Service. The User acknowledges and agrees that any termination of Service under any provision of this Agreement may be effected without prior notice, and acknowledges and agrees that Lawdingo may immediately delete data and files in the User's account and bar any further access to such files or the Service.
<br/><br/>
<h3>XII. Lawdingo's Proprietary Rights</h3>
Lawdingo owns certain things on this system, including the 'look and feel' of the system, the name of the system, and the collective work copyright in sequences of public messages on the system. Users cannot reproduce any message thread from the system, either electronically or in print, without Lawdingo's permission and the permission of all participants in the thread. This is not a complete list — other things on the system are also Lawdingo property. Contact Lawdingo before copying anything from the system with plans of reproducing it or distributing it.
<br/><br/>
The User acknowledges and agrees that content, including but not limited to text, software, music, sound, photographs, graphics, video, page layout and design, or other material contained in the Service or information presented through the Service is protected by copyrights, trademarks, service marks, patents, or other proprietary rights and laws. The User acknowledges and agrees that the User is permitted to use this material and information only as expressly authorized by Lawdingo or its Sponsors, and may not copy, reproduce, transmit, distribute, or create derivative works of such content or information without express authorization. The User acknowledges and agrees that Lawdingo can display images and text throughout the Service.
<br/><br/>
<h3>XIII. Disclaimer of Warranties and Limitation of Liability</h3>
A great danger for Lawdingo, and for all operators of online systems, is that we might be held accountable for the wrongful actions of our Users. If one User libels another User, the injured User might blame us, even though the first User was really at fault. If a User uploads a program with a computer virus, and the other Users' computers are damaged, we might be blamed even though a User left the virus on our System. If a User transmits illegal or improper information to another User, we might be blamed even though we did nothing more than unknowingly carry the message from one User to another. Accordingly, we need all Users to accept responsibility for their own acts, and to accept that an act by another User that damages them must not be blamed on us, but only on the other User.
<br/><br/>
Although it is Lawdingo's goal to provide Users with a reliable, quality system, we may make mistakes or experience system failure from time to time. Such problems are inevitable in operating a system of this size. We would not be able to make this system available to Users if we had to accept blame or financial liability for any usability problems, system failures or errors, or mistakes or damages of any kind. In order to continue offering and improving our service, Lawdingo must deny any warranties on this service and insure that our liability for any problems connected with the use of our system is strictly limited.
<br/><br/>
These needs are accomplished by the following disclaimers:
<br/><br/>
<h3>Disclaimer of Warranties</h3>
<h3>The user expressly agrees that use of the service is at the user's sole risk. The service is provided on an "as is" and "as available" basis. Lawdingo expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. Lawdingo makes no warranty that the service will meet user's requirements, that the service will be uninterrupted, timely, secure, or error-free; nor does Lawdingo make any warranty as to the results that may be obtained from the use of the service or as to the accuracy or reliability of any information obtained through the service or that defects in the software will be corrected. Lawdigo makes no warranty regarding any goods or services purchased or information obtained through the service or any transactions entered into through the service.
</h3>
<br/><br/>
No advice or information, whether oral or written, obtained by the user from Lawdingo shall create any warranty not expressly stated herein.
<br/><br/>
<h3>Limitation of Liability</h3>
<h3>The user agrees that Lawdingo shall not be liable for any direct, indirect, incidental, special or consequential damages resulting from the use or the inability to use the service or for cost of procurement of substitute goods and services or resulting from any goods or services purchased or obtained or messages received or transactions entered into through or from the service or resulting from unauthorized access to or alteration of user's transmissions or data, including, but not limited to damages for loss of profits, use, data or other intangibles, even if Lawdingo has been advised of the possibility of such damages. The user further agrees that Lawdingo shall not be liable for any damages arising from interruption, suspension or termination of service, including, but not limited to, direct, indirect, incidental, special, consequential or exemplary damages, whether such interruption, suspension or termination was justified or not, negligent or intentional, inadvertent or advertent.
</h3>
<br/><br/>
<h3>XIV. Arbitration</h3>
Any controversy or claim arising out of or relating to this Agreement or Lawdingo services shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in the County of San Francisco, California, and judgment on the arbitration award may be entered by any court having jurisdiction thereof. Either the User or Lawdingo may seek any interim or preliminary relief from a court of competent jurisdiction in the County of San Francisco, California, necessary to protect the rights or property of the User or Lawdingo pending the completion of arbitration. This arbitration clause does not prohibit either Lawdingo or the User from seeking to have the arbitration dismissed or judicially terminated on the basis the claims in arbitration action fail to provide a legal basis upon which a claim for relief may be granted. Any motion or action to dismiss must be filed in a court of general jurisdiction within the County of San Francisco, California.
<br/><br/>
<h3>XV. General</h3>
This agreement, the Agreement, incorporates by reference our Privacy Policy and any notice by Lawdingo contained in any of the Web site pages and constitutes the entire understanding between the User and Lawdingo regarding the User's relationship to our Service.
<br/><br/>
Users can reach our Service from all fifty states and around the world. Each of these places has a different set of laws. Since Lawdingo cannot keep track of all these laws and their requirements, the Agreement and the relationship between the User and Lawdingo shall be governed by the laws of the State of California without regard to its conflict of law provisions.
<br/><br/>
If Lawdingo fails to exercise or enforce any right or provision of this Agreement, that failure shall not be used to prove that Lawdingo has waived the right or provision. If any provision of this Agreement is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and that the other provisions of the Agreement remain in full force and effect. The User agrees that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Agreement must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in the Agreement are for convenience only and have no legal or contractual effect.
</div>
</div>

