<ul class="details">
  <li class="state">
    <span class="label">Client's state:</span>
    <%= @inquiry.question.state_name %>
  </li>
  <li class="area">
    <span class="label">Likely practice area:</span>
    <%= @inquiry.question.practice_area %>
  </li>
  <li class="number">
    <span class="label">Lawyers allowed to contact the client:</span>
    3
  </li>
</ul>
